body {
  font-family: Arial, sans-serif;
  text-align: center;
}

button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hand {
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.card {
  height: 175px;
  width: auto;
}

.score {
  margin-bottom: 10px;
}

#message {
  font-weight: bold;
  margin-top: 20px;
}

.hands-separator {
  padding: 50px;
}

.card {
  margin: 5px;
}
